nav a {
  margin-left: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.rootText {
  text-align: justify;
}

.responsive-img {
  float: left;
  margin-right: 1em;
}

nav i.material-icons {
  font-size: 42px;
}

.googleLink a {
  margin-right: 10%;
}

.card-image {
  height: 400px; /* Your height here */
  overflow: hidden;
}
