nav a {
  margin-left: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.rootText {
  text-align: justify;
}

nav i.material-icons {
  font-size: 42px;
}

.responsive-img {
  float: left;
  margin-right: 1em;
}

/* .imgDetail {
  height: 400;
  width: 300;
} */

.googleLink a {
  margin-right: 10%;
}

.card-image {
  height: 400px;
  overflow: hidden;
}

.waves-effect.waves-light.btn-large.detail {
  margin-top: 10%;
  font-family: 'Laila', serif;
}

.waves-effect.teal.lighten-2.btn-large.aboutUs {
  margin-top: 0%;
}

h1,
h3 {
  font-family: 'Pacifico', cursive;
}

p {
  font-size: 18px;
}
.brand-logo {
  font-family: 'Lobster', cursive;
}

h4 {
  font-family: 'Abril Fatface', cursive;
}

.imgDetail {
  float: right;
}

/* .waves-effect {
  margin-top: 15%;
} */

.detailText {
  margin-bottom: 10%;
}
